<div class="swiper swiper-demo">
    <div class="swiper__wrapper">
      <div class="swiper__slide">
        <img class="lightbox-ignore" src="assets/images/uploads/resources_slider_1.png">
      </div>
      <div class="swiper__slide">
        <img class="lightbox-ignore" src="assets/images/uploads/resources_slider_2.png">
      </div>
      <div class="swiper__slide">
        <img class="lightbox-ignore" src="assets/images/uploads/resources_slider_3.png">
      </div>
      <div class="swiper__slide">
        <img class="lightbox-ignore" src="assets/images/uploads/resources_slider_4.png">
      </div>
    </div>
    <div class="swiper__button swiper__button--prev fas fa-chevron-left"></div>
    <div class="swiper__button swiper__button--next fas fa-chevron-right"></div>
  </div>